<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Amazona</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div><a class="brand" href="index.html">Amazona</a> </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <ul>
                    <Li>Product1</Li>
                    <Li>Product2</Li>
                    <Li>Product3</Li>
                    <Li>Product4</Li>
                </ul>
            </main>
            <footer class="row center" >All Right Reserved</footer>

        </div>
    </body>
</html>